<header class="container-fluid about-header ">
  <div class="container header-content">
    <span>
      <a routerLink="/home">
        <i class="fas fa-chevron-left"></i>
      </a>
      <img src="../../assets/img/logo_small_icon_only.png" alt="icon" class="my-logo-icon">
      DocNearMe
    </span>
  </div>
</header>

<div class="container title-container">
  <span class="my-title">
    <p>
      Our Mission: to help everyone,to gather <span style="color: red;">Informations</span> about
      <span style="color: green;">Doctors</span> and
      <span style="color:orange">hospitals</span>
      around them and get the <span style="color:blue;">care</span> they need
    </p>
  </span>
</div>

<div class="container tuile">
  <div class="background item1" style="border-radius: 5px;">
    <div class="row">
      <div class="col">
        <div class="text-block">
          <span class="small-title">The Story</span>
          <div class="the-text">
            <p>I had the idea of DocNearMe from <br>
              a friend who wanted me to build <br>
              a management system for hospitals<br>
              I told myself it would be useless <br>
              instead i decided to build this <br>
              Platform where i gather every <br>
              hospitals in every cities so <br>
              people can look for a hospital, <br>
              Or a doctor where they live </p>
          </div>
        </div>
      </div>
    </div>
    <div class="my-col">
      <span class="small-title">
        <p>The Story</p>
      </span>
      <div class="the-text">
        <p>I had the idea of DocNearMe from
          a friend who wanted me to build
          a management system for hospitals
          I told myself it would be useless
          instead i decided to build this
          Platform where i gather every
          hospitals in every cities so
          people can look for a hospital,
          Or a doctor where they live </p>
      </div>
    </div>
  </div>
</div>

<div class="container tuile">
  <div class="background item2" style="border-radius: 5px;">
    <div class="row">
      <div class="col text-block">
        <span class="small-title">The Mission</span>
        <div class="the-text">
          <p>In small countries especially <br>
            thirld world countries , <br>
            it is very difficult to look <br>
            for a doctor on google, most of <br>
            them i believe , doesn't have <br>
            an online presence. I remember<br>
            as a kid i did not often go to <br>
            a doctor. It is something that <br>
            need to change. I want to gather<br>
            all of them on this website <br>
            and allow people to look <br>
            for them , to find information <br>
            about them, and to contact them <br>
          </p>
        </div>
      </div>
    </div>
    <div class="my-col">
      <span class="small-title">
        <p>The Mission</p>
      </span>
      <div class="the-text">
        <p>In small countries especially
          thirld world countries ,
          it is very difficult to look
          for a doctor on google, most of
          them i believe , doesn't have
          an online presence. I remember
          as a kid i did not often go to
          a doctor. It is something that
          need to change. I want to gather
          all of them on this website
          and allow people to look
          for them , to find information
          about them, and to contact them
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container tuile">
  <div class="background item3" style="border-radius: 5px;">
    <div class="row">
      <div class="col text-block">
        <span class="small-title">Contact</span>
        <div class="the-text">
          <p>DocNearMe is actually a small <br>
            project designed and build by<br>
            Pierre Patrice Edimo Nkoe<br>
            Tel: +49 1575 851 637 4 <br>
            email: pedimonkoe@yahoo.com <br>
            address: Am Kleegarten 17<br>
            p.o box: 36043 <br>
            location: Fulda Germany</p>
        </div>
      </div>
    </div>
    <div class="my-col">
      <span class="small-title">
        <p>
          Contact
        </p>
      </span>
      <div class="the-text">
        <p>DocNearMe is actually a small
          project designed and build by
          Pierre Patrice Edimo Nkoe <br>
          Tel: +49 1575 851 637 4 <br>
          email: pedimonkoe@yahoo.com <br>
          address: Am Kleegarten 17 <br>
          p.o box: 36043 <br>
          location: Fulda Germany</p>
      </div>
    </div>
  </div>
</div>

<footer class="this-footer">
  <div class="container">
    <p>Made by Pierre Patrice Edimo Nkoe</p>
  </div>
</footer>
